nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    display: flex;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: #76b995;
}

nav li {
    list-style: none;
    transition-duration: 0.2s;
}

nav li:hover {
    background-color: #2c424f;
}