header {
    background-color: #101d25;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    border-radius: 0 0 10px 10px;
    font-family: 'Ubuntu', serif;
    font-weight: bold;
}

h1 {
    margin: 0;
}

h1 a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: #1a404f;
    text-shadow: 2px 2px #76b995;
    transition-duration: 0.2s;
    font-style: italic;
}

h1 a:hover {
    color: #76b995;
    text-shadow: 2px 2px #1a404f;
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    display: flex;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: #76b995;
}

nav li {
    list-style: none;
    transition-duration: 0.2s;
}

nav li:hover {
    background-color: #2c424f;
}

.header__auth-block {
    display: flex;
    align-items: center;

    padding: 10px 20px;
}
