footer {
    background-color: #101d25;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    border-radius: 10px 10px 0 0;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: italic;
}

h2 {
    margin: 0;
}

h2 a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: #1a404f;
    text-shadow: 2px 2px #76b995;
    transition-duration: 0.2s;
}

h2 a:hover {
    color: #76b995;
    text-shadow: 2px 2px #1a404f;
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    display: flex;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: #76b995;
}

nav li {
    list-style: none;
    transition-duration: 0.2s;
}

footer nav li:last-child {
    border-radius: 0 10px 0 0;
}



