header {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    border-radius: 0 0 10px 10px;
    font-family: 'Ubuntu', serif;
    font-weight: bold;
}

h1 {
    margin: 0;
}

h1 a {
    display: block;
    padding: 10px 20px;
    line-height: 60px;
    color: white;
    /* text-shadow: 1px 1px white; */
    transition-duration: 0.2s;
    /* font-style: italic; */
}

h1 a:hover {
    color: #007ec8;
    text-shadow: 1px 1px white;
}

.header__auth-block {
    display: flex;
    align-items: center;

    padding: 10px 20px;
}
