footer {
  font-size: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 230px;
  /* justify-content: space-between; */
  width: 100%;
  min-height: 50px;
  /* font-family: 'Ubuntu', serif; */
  font-weight: bold;
  /* font-style: italic; */
}