body {
  background: #ECECEC;
  /* font-family: 'Ubuntu', serif; */
  color: black;
}

main {
  padding: 0 230px;
}

.wrapper {
  margin: auto;
  max-width: 1600px;
  min-width: 320px;
}

a {
  color: white;
  text-decoration: none;
}